* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.4%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.loading {
  font-size: 5rem;
  color: yellow;
}
